@use '@/app/base';

.contact {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 2rem;
	align-items: center;
}

.image {
	min-height: 768px;
}

.text {
	width: 90%;
	max-width: 800px;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-gap: 2rem;
}

.contactColumn {
	grid-column: span 6;
}

.contactInfo {
	margin-bottom: 2rem;
}

@media screen and (max-width: 1024px) {
	.image,
	.text {
		grid-column: span 2;
	}

	.image {
		min-height: auto;
		aspect-ratio: 16 / 10;
	}

	.text {
		margin: 0 auto;
		max-width: none;
	}
}

@media screen and (max-width: 768px) {
	.image {
		min-height: auto;
		aspect-ratio: 1 / 1;
	}

	.contactColumn {
		grid-column: span 12;
	}
}
