@use '@/app/base';

.partnersImageContainer {
	grid-column: span 2;
	background-color: base.$dark1;
	aspect-ratio: 1 / 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.partnerImage {
	width: 70%;
	height: 70%;
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
	.partnersImageContainer {
		grid-column: span 6;
	}
}
