@use '@/app/base';

.slider {
	display: flex;
	align-items: center;
	justify-content: space-between;
	overflow: hidden;
}

.sliderArrow {
	width: 0.8rem;
	aspect-ratio: 1 / 2;
	cursor: pointer;
}

.sliderArrow:hover {
	transform: scale(1.2);
}

.sliderContent {
	width: calc(100% - 4rem);
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-gap: 2rem;
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
	.sliderContent {
		grid-gap: 1rem;
	}
}
